@using Microsoft.AspNetCore.Identity
@using GymFinal.Areas.Identity.Data
@inject SignInManager<GymFinalUser> SignInManager
@inject UserManager<GymFinalUser> UserManager


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XGym</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/jquery-ui.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/js/easyResponsiveTabs.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery.contentcarousel.js"></script>
    <script src="~/js/nav.js"></script>
    <script src="~/js/responsiveCarousel.js"></script>
    <script src="~/js/site.js"></script>




    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <partial name="_LoginPartial.cshtml" />
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color:yellow">X-GYM</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link", @style = "color:white" })</li>
                <li class="nav-item">@Html.ActionLink("About US", "AboutUS", "StudioClasses", null, new { @class = "nav-link", @style = "color:white" })</li>
                <li class="nav-item">@Html.ActionLink("Classes", "Index", "StudioClasses", null, new { @class = "nav-link", @style = "color:white" })</li>
                <li class="nav-item">@Html.ActionLink("Time Table", "Index", "Lessons", null, new { @class = "nav-link", @style = "color:white" })</li>
                <li class="nav-item">@Html.ActionLink("Team", "Index", "Trainers", null, new { @class = "nav-link", @style = "color:white" })</li>
                <li class="nav-item">@Html.ActionLink("BMI", "BMI", "StudioClasses", null, new { @class = "nav-link", @style = "color:white" })</li>
                <li class="nav-item">@Html.ActionLink("Statistics", "Stats", "Home", null, new { @class = "nav-link", @style = "color:white" })</li>

            </ul>
        </div>
    </nav>



</body>

<body onload="startTime()" style="font-family:Orbitron ;">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top " style="background-color:rgba(128, 128, 128, 0.00) !important">
        <div class="container">
            <div id="txt"></div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <div class="col-md-4 col-sm-6 col-s-12">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" style="border-radius: 10px;" src="~/images/mainpic.jpg" alt="Card image cap" >

                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>


    <style>
        body {
            background-color: black;
        }
    </style>

    @RenderSection("scripts", required: false)
</body>
</html>

@* clock *@
<script type="text/javascript">
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML = h + ":" + m + ":" + s;
        t = setTimeout('startTime()', 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }
</script>


<footer>
    <p>&copy; @DateTime.Now.Year - XGym </p>
</footer>