@model IEnumerable<GymFinal.Models.StudioClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<!--Odeya&maya -->
<form asp-action="Search">
    <input name="name" placeholder="Enter class name" /> or
    <input name="calories" placeholder="Enter burn calories" /> or
    <input name="type" placeholder="Enter type lesson" />
    <input type="submit" value="search" />
</form>
<!--Odeya&maya -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuringTime)
            </th>
            <!--Odeya&maya -->
            <th>
                @Html.DisplayNameFor(model => model.BurnCalories)
            </th>
            <!--Odeya&maya -->
            <!--GroupBy-->
            <th>
                @Html.DisplayNameFor(model => model.TypeID)
            </th>
            <!--GroupBy-->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DuringTime)
                </td>
                <!--Odeya&maya -->
                <td>
                    @Html.DisplayFor(modelItem => item.BurnCalories)
                </td>
                <!--Odeya&maya -->
                <!--GroupBy-->
                <td>
                    @Html.DisplayFor(modelItem => item.TypeID)
                </td>
                <!--GroupBy-->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


